@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
}


.landing-page {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: -100px;
}

.left-section h1 {
    font-family: "Abril Fatface", serif;
    font-size: 11rem;
    font-weight: 300;
    background: linear-gradient(to right, #d7d7c7, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 50px;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.text-section h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.text-section p {
    margin-bottom: 1.5rem;
}

.text-section ul {
    list-style-type: none;
    padding-left: 0;
}

.text-section ul li {
    margin-bottom: 1rem;
    position: relative;
    padding-left: 1.2rem;
}

.text-section ul li::before {
    content: "•";
    color: #000000;
    position: absolute;
    left: 0;
}

.github-button {
    background-color: #333;
    color: #fff;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.github-button i {
    margin-right: 0.5rem;
}

.github-button:hover {
    background-color: #555;
}
